* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f9f5f2;
    line-height: 1.6;
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    /* Начальная непрозрачность */
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    position: relative;
    transform: scale(0.7);
    /* Начальное уменьшение */
    transition: transform 0.3s ease;
    /* Плавный переход для эффекта масштабирования */
}

/* Анимация открытия модального окна */
.modal.show {
    display: flex;
    opacity: 1;
    /* Конечная непрозрачность */
}

.modal-content.show {
    transform: scale(1);
    /* Масштабируем до 100% */
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal-content h2 {
    font-family: 'Poppins', sans-serif;
    color: #b5651d;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    margin-top: 12px;
    line-height: 32px;
}

.modal-content label {
    display: block;
    margin-top: 10px;
    font-size: 1em;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal-content button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #b5651d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

/* Изображение подтверждения в модальном окне */
.confirmation-image {
    display: block;
    width: 250px;
    /* Размер изображения */
    height: auto;
    margin: 15px auto 15px;
    /* Центрирование и отступ снизу */
}

/* Модальное окно конец */

header {
    background-image: url('aydersurie.jpg');
    /* Фоновое изображение */
    background-size: cover;
    /* Полное покрытие */
    background-position: center;
    background-attachment: fixed;
    /* Фиксируем фон */
    text-align: center;
    color: #fff;
    /* Белый текст для контраста */
    padding: 200px 20px 200px 20px;
    /* Увеличенные отступы */
    position: relative;
}

@media (max-width: 600px) {
    header {
        padding: 40px 20px 100px 20px;
    }
    header h1 {
        font-size: 56px !important;
        margin-bottom: 100px;
    }
}


header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* Полупрозрачный темный слой */
    z-index: 1;
}

header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 72px;
    /* Увеличенный шрифт */
    color: #fff;
    position: relative;
    z-index: 2;
}

header p {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    margin-top: 15px;
    color: #fff;
    position: relative;
    z-index: 2;
}

header button {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #b5651d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s;
}

header button:hover {
    background-color: #ff7f50;
}

section {
    padding: 40px;
    /* Увеличенный отступ */
    margin: 20px auto;
    /* Больше пространства вокруг */
    max-width: 1000px;
    /* Шире блоки */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Центрируем текст */
    font-family: 'Playfair Display', serif;
    /* Шрифт для текста внутри блоков */
    font-size: 1.2em;
    color: #6b4f4b;
    /* Цвет текста */
}

h2 {
    font-family: 'Great Vibes', cursive;
    color: #b5651d;
    font-size: 2.5em;
    /* Увеличиваем заголовки */
    margin-bottom: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    /* Позволяет изображениям переноситься на следующую строку */
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
    .gallery img {
        width: 100%;
        /* Изображения занимают всю ширину блока */
        height: auto;
        /* Высота автоматически подстраивается */
        margin-bottom: 10px;
        /* Отступ между изображениями */
    }
}


#contact {
    font-size: 1.2em;
}


#location {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.map iframe {
    border-radius: 8px;
    padding: 30px 0px 10px 0px;
    width: 100%;
    height: 400px;
    max-width: 600px;
}